img {
  width: 300px;
}

.newPhotoBtn {
  padding: 15px 10px;
  color: azure;
  background-color: blueviolet;
  border-radius: 5px;
}

.mainDiv {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}
